@import url(https://fonts.googleapis.com/css2?family=Caveat&family=Fleur+De+Leah&display=swap);

body { 
    background-color: #ff7f9071;
}

.heading { 
    text-align: center;
}

.heading { 
    color:cornflowerblue;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.foodname-heading { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgba(143, 165, 255, 0.83);
}

.food-pic { 
    width: 250px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lineone { 
    color: blue;
}

.ingredientsAndquantity-table { 
    border: 1px solid rgb(0, 251, 255);
    width: 80%;
    margin: 0 auto;
}

.ingredientsAndquantity { 
    color: rgb(49, 39, 247);
    font-family: fantasy;
    font-size: 0.7rem;
    text-align: center;
}

.linetwo { 
    color: blue;
}

.preparation { 
    color: darkcyan;
    font-size: 0,7rem;
    font-family: monospace;
}

.linethree { 
    color: blue;
}

.recipeLink { 
    color: greenyellow;
}

.linefour { 
    color: blue;
}

.footer { 
    color: cadetblue;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    text-align: center;
}

.linefive { 
    color: blue;
}
